
<h1>Your Post</h1>
<table>
<tr>
<td><% @user_post.post_text %></td>
</tr>	

<form id="user_create_post" action="/users/<%= current_user.id %>/post/post_id" method="post">
	<input type="submit" value="Edit">
</form>
</table>